target: all

server:
  http_listen_port: 9009
  grpc_listen_port: 9008

common:
  replication_factor: 1
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory
  storage:
    filesystem:
      dir: /mimir
    backend: filesystem

# Ingester configuration for receiving metrics
ingester:
  ring:
    instance_addr: 127.0.0.1

# Distributor configuration (receives metrics)
distributor:
  ring:
    instance_addr: 127.0.0.1
